@inject NavigationManager Navigation

<AuthorizeView>
	<Authorized>
		<MudStack AlignItems="AlignItems.Center"  class="rz-mr-6">
			<MudText>Hello, @context.User.Identity?.Name!</MudText>
			<form method="post" action="/api/account/logout">
				<AntiForgeryTokenInput />
                <MudButton ButtonType="ButtonType.Submit">Sign out</MudButton>
			</form>
		</MudStack>
	</Authorized>
	<NotAuthorized>
		<MudButton class="rz-mr-6" OnClick="@(() => Navigation.NavigateTo("/api/account/login", true))"> Sign in </MudButton>
	</NotAuthorized>
</AuthorizeView>
