@attribute [Route(Routes.Index)]

@using HeadStart.Client.Services
@using static Constants

@if (!Claims.Any())
{
    <p><em>Loading...</em></p>
} else
{
    <p>
        @foreach (var claim in Claims)
        {
            <text>@claim.Type: @claim.Value</text><br />
        }
    </p>
}

<RadzenRow JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center" class="rz-h-100 rz-w-100">

</RadzenRow>


@code {
    public IList<ClaimsViewModel> Claims = new List<ClaimsViewModel>();

    [Inject]
    public DialogService DialogService { get; set; }

    [Inject]
    public ILogger<Index> Logger { get; set; }

    [Inject]
    public ITableService TableService { get; set; }

    [Inject]
    public NavigationManager NavigationManager { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Claims = (await TableService.GetMe()).Claims;
    }
}
