.circle {
  width: 0.5rem;
  height: 0.5rem;
  display: inline-block;
}

.rounded-circle{
  border-radius: 50%;
}
.bg-success {
  background-color: #28a745 !important;
}
.bg-warning {
  background-color: #ffc107 !important;
}

.bg-primary {
  background-color: #0d6efd !important;
}

.bg-danger {
  background-color: #dc3545 !important;
}

.bg-secondary {
  background-color: #6c757d !important;
}

.bg-dark {
  background-color: #343a40 !important;
}

.bar-label {
  font-size: .625rem;
  color: #6c757d;
}

.text-nowrap {
  white-space: nowrap;
}

.fw-semibold {
  font-weight: 600;
}

.small, small {
  font-size: .875em;
}

.progress {
  background-color: #e9ecef;
  border-radius: 0.25rem;
  overflow: hidden;
  height: 8px;
  display: flex;
}

.progress-bar {
  height: 100%;
  transition: width 0.6s ease;
}

@media (max-width: 850px) {
  .flex-row

  {
    flex-wrap: wrap;
  }

}

.fw-bold {
  font-weight: 700 !important;
}

.fs-5 {
  font-size: 1.25rem !important;
}

.lp-app-grid {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}
